<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CustomerDbEntities" connectionString="metadata=res://*/BLHCustomerDb.csdl|res://*/BLHCustomerDb.ssdl|res://*/BLHCustomerDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=CustomerDb;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BLHCustomerDbEntities" connectionString="metadata=res://*/BLHCustomerDb.csdl|res://*/BLHCustomerDb.ssdl|res://*/BLHCustomerDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=CustomerDb;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ZipPostalCodeDbEntities" connectionString="metadata=res://*/ZipCodeModel.csdl|res://*/ZipCodeModel.ssdl|res://*/ZipCodeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=ZipPostalCodeDb;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>